@model Activity

@{
    string timeAgo;
    string activityText;

    TimeSpan span = DateTime.Now - Model.DateCreated.Value;
    // SPANTIME LOGIC
    if (span.Days > 365)
    {
        int years = (span.Days / 365);
        if (span.Days % 365 != 0)
            years += 1;
        timeAgo = String.Format("about {0} {1} ago",
        years, years == 1 ? "year" : "years");
    }
    else if (span.Days > 30)
    {
        int months = (span.Days / 30);
        if (span.Days % 31 != 0)
            months += 1;
        timeAgo = String.Format("about {0} {1} ago",
        months, months == 1 ? "month" : "months");
    }
    else if (span.Days > 0)
        timeAgo = String.Format("about {0} {1} ago",
        span.Days, span.Days == 1 ? "day" : "days");
    else if (span.Hours > 0)
        timeAgo = String.Format("about {0} {1} ago",
        span.Hours, span.Hours == 1 ? "hour" : "hours");
    else if (span.Minutes > 0)
        timeAgo = String.Format("about {0} {1} ago",
        span.Minutes, span.Minutes == 1 ? "minute" : "minutes");
    else if (span.Seconds > 5)
        timeAgo = String.Format("about {0} seconds ago", span.Seconds);
    else if (span.Seconds <= 5)
        timeAgo = "just now";
    else timeAgo = string.Empty;


    // MESSAGE LOGIC
    if (Model.IsAutomaticallyGenerated.Value)
    {
        // edit
        if (Model.UpdatedStatus.Value)
        {
            activityText = " closed the request.";
        }
        else if (Model.Description.Contains("Edit"))
        {
            activityText = " edited the request.";
        }
        else if (Model.Description.Contains("Created"))
        {
            activityText = " created the request.";
        }
        else
        {
            activityText = " prioritized the request.";
        }

    }
    else
    {
        if (Model.ResolvedIssue.Value)
        {
            activityText = " resolved the issue.";
        }
        else if (Model.ReassignedIssue.Value && Model.UpdatedStatus.Value)
        {
            activityText = " updated the status to " + Model.Status.Name + " and reassigned the issue to " + Model.ReassignedTo.User + ".";
        }
        else if (Model.ReassignedIssue.Value)
        {
            activityText = " reassigned the issue to " + Model.ReassignedTo.User + ".";
        }
        else if (Model.UpdatedStatus.Value)
        {
            activityText = " updated the status to " + Model.Status.Name + ".";
        }
        else
        {
            activityText = " posted.";
        }
    }
}


<div class="feed-element">
    <a href="#DETAILS OF THE USER" class="">
        <img alt="image" class="img-circle rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar6.png">
    </a>
    <div class="media-body ">
        <small class="pull-right">@timeAgo</small><br />
        <strong>@Model.User.UserName</strong>@activityText<br>
        <small class="text-muted">@Model.DateCreated.Value.ToString("dd/MMM/yy - HH:mm:ss")</small>
        @{
            if (!Model.IsAutomaticallyGenerated.Value)
            {
                
            <div class="well">
                    @Model.Description
                </div>
            }
        }
    </div>
</div>