@model BugTracker.Models.viewModels.ActivityFormViewModel




<h4>Add Activity</h4>
<hr />




@using (Html.BeginForm("Save", "Activities"))
{
    <div class="form-group mt-2">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new {@class = "form-control"})
    </div>
    <div class="form-group form-check mt-2">
        @Html.LabelFor(m=> m.UpdatedStatus, "Update Status")
        @Html.CheckBoxFor(m => m.UpdatedStatus, new {@class = "form-check-input update-status"})
    </div>
    <div class="form-group mt-2" id="StatusId">
        @Html.DropDownListFor(m =>m.StatusId, Model.Statuses, null, new { @class="form-select update-status-list", display="none"})
    </div>
    <div class="form-group form-check mt-2">
        @Html.LabelFor(m=> m.ReassignedIssue, "Reassign Issue")
        @Html.CheckBoxFor(m => m.ReassignedIssue, new {@class = "form-check-input reassign-issue"})
    </div>

    <div class="form-group mt-2" id="reassign-to">
        <select class="form-select" aria-label="Default select" data-val="true" id="ReassignToId" name="reassignToId" disabled>
            <option value="0" selected>Reassign Issue</option>
            @{
                foreach (var dev in Model.ReassignToList)
                {
                    <option value="@dev.Id">@dev.User.UserName</option>
                }
            }
        </select>
    </div>

    @Html.HiddenFor(a => a.IssueId)
    @Html.HiddenFor(a => a.Id)
    @Html.HiddenFor(a => a.UserId)
    <button class="btn btn-primary d-block w-50 m-auto mt-2" type="submit">Add Post</button>
}


<div>
    <a asp-action="">Close</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
