@model RoleIndexViewModel

<h1 class="mt-3">Manage Roles</h1>
<a asp-action="Edit" class="btn btn-warning my-3">Create a Role</a>

<table class="table  overflow-hidden    table-sm table-hover table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th colspan=2>Assign</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    @foreach (var role in Model.Roles)
    {
        <tr>
            <td><a asp-action="Details" asp-route-id="@role.Id">@role.Id</a></td>
            <td>@role.Name</td>
            <td class="user-select-cell">@Html.DropDownListFor(m => Model.AssignToId, Model.Users, "Select User", new {@class="form-select-sm user-select"})</td>
            <td><button roleName=@role.Name class="btn btn-sm btn-info js-assign">Assign</button></td>
            <td><a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@role.Id">Update</a></td>
            <td>
                <button roleId=@role.Id class="btn btn-sm btn-danger js-delete">
                    Delete
                </button>
            </td>
        </tr>
    }
</table>

@section scripts{
<script>


    $(document).ready(function(){
        $('table').on("click",".js-delete", function(){
            let button = $(this)
            if (confirm("Are you sure you want to delete this role? This action cannot be undone.")){
                $.ajax({
                    url: "/roles/delete/" + button.attr("roleId"),
                    method: "POST",
                    success: () =>{
                        button.parent().parent().hide()
                    }
                })
            }
        })

        $('table').on("click", ".js-assign", function() {
            let userSelect = ($(this).parent().siblings(".user-select-cell").children());
            let userId = $(userSelect).val();
            let roleName = $(this).attr("roleName")
            if (userId === ""){
                Toastify({
                    text: "Please select a user",
                    className: "assign-error",
                    duration: 3000,
                    stopOnFocus: false,
                    position: "center",
                    style: {
                       background: "rgb(199,3,3)",
                       background: "radial-gradient(circle, rgba(199,3,3,1) 0%, rgba(130,0,0,1) 100%, rgba(196,0,0,1) 100%)",
                       boxShadow: "-3px 3px 15px 2px rgba(255,255,255,0.2)"
                    }
                }).showToast();
                return;
            }
            $.ajax({
                url: "/roles/assign?roleName=" + roleName + "&userId=" + userId,
                method:"POST",
                data: {
                    userId: userId,
                    roleName: $(this).attr("roleName")
                },
                success: () =>{
                    Toastify({
                        text: "Role assigned!",
                        duration: 3000,
                        stopOnFocus: false,
                        position: "center",
                        style: {
                           background: "rgb(3,199,3)",
                           background: "radial-gradient(circle, rgba(3,199,3,1) 0%, rgba(0,130,0,1) 100%, rgba(0,130,0,1) 100%)",
                           boxShadow: "-3px 3px 15px 2px rgba(255,255,255,0.2)"
                        }
                    }).showToast();
                    userSelect.val("")
                },
                error : () =>{
                    Toastify({
                        text: "Something went wrong",
                        className: "assign-error",
                        duration: 3000,
                        stopOnFocus: false,
                        position: "center",
                        style: {
                           background: "rgb(199,3,3)",
                           background: "radial-gradient(circle, rgba(199,3,3,1) 0%, rgba(130,0,0,1) 100%, rgba(196,0,0,1) 100%)",
                           boxShadow: "-3px 3px 15px 2px rgba(255,255,255,0.2)"
                        }
                    }).showToast();
                }
            })
        })

    })

</script>

}