@model BugTracker.Models.Issue

<link rel="stylesheet" href="~/css/issue_details.css" />


@{
    ViewData["Title"] = "Details";
    var issueId = Model.Id;
}

@{
    var priorityColor = "";
    if (Model.PriorityId == Priority.Critical || Model.PriorityId == Priority.High)
        priorityColor = "text-danger";
    else if (Model.PriorityId == Priority.MediumHigh || Model.PriorityId == Priority.MediumLow)
        priorityColor = "text-warning";
    else if (Model.PriorityId == Priority.Critical)
        priorityColor = "text-indigo";

    var addActivityParams = new Dictionary<string, string> { { "issueId", Model.Id.ToString() } };
}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class=" ">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-b-md">
                                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary btn-sm pull-right">Edit</a>
                                    <h2>Issue BT-@Model.Id</h2>
                                    <h4>@Model.Title</h4>
                                </div>
                                <dl class="dl-horizontal">
                                    <dt>Status:</dt>
                                    <dd><span class="label label-primary">@Model.Status.Name</span></dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <dl class="dl-horizontal">
                                    <dt>Created by:</dt>
                                    <dd>@Model.Creator.UserName</dd>
                                    <dt>Messages:</dt>
                                    <dd>@Model.Activities.Count()</dd>
                                    <dt>Project:</dt>
                                    <dd>@Model.Project.Name</dd>
                                    <dt>Area:</dt>
                                    <dd>@Model.Area.Name</dd>
                                </dl>
                            </div>
                            <div class="col-lg-7" id="cluster_info">
                                <dl class="dl-horizontal">
                                    @{
                                        if (Model.StatusId == Status.Resolved)
                                        {
                                                    <dt>Date Resolved:</dt>
                                                    <dd>@Model.ResolvedDate</dd>
                                        }
                                    }
                                    <dt>Last Updated:</dt>
                                    <dd>@(Model.UpdatedDate != null ? Model.UpdatedDate : "Ticket not worked")</dd>
                                    <dt>Created:</dt>
                                    <dd>@Model.CreatedDate</dd>
                                    <dt>Participants:</dt>
                                    <dd class="project-people">
                                        <a href=""><img alt="image" class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar1.png"></a>
                                        <a href=""><img alt="image" class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar2.png"></a>
                                        <a href=""><img alt="image" class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar3.png"></a>
                                        <a href=""><img alt="image" class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar4.png"></a>
                                        <a href=""><img alt="image" class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar5.png"></a>
                                    </dd>

                                </dl>
                            </div>
                        </div>
                        <!-- SECTION ACTIVITIES-->
                        <div class="row m-t-sm">
                            <div class="col-lg-12">
                                <h3 class="d-inline">Activity</h3>
                                <a asp-action="edit" asp-controller="Activities" asp-all-route-data="addActivityParams" class="btn btn-primary btn-sm d-inlineblock m-2 mt-0">Post</a>
                                <div class="panel-body">

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-1">
                                            <div class="feed-activity-list">
                                                @foreach (var activity in Model.Activities.Reverse())
                                                {
                                                    @Html.Partial("_ActivityEntry", activity)
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- RIGHT PANEL  -->
        <div class="col-md-3">
            <div class="wrapper wrapper-content project-manager">
                <h4>Description</h4>
                <p class="small">
                    @Model.Description
                </p>
                <p class="small font-bold">
                    <span class=@priorityColor><i class="fa fa-circle"></i> @Model.Priority.Name</span>
                </p>
                <h5>Project tag</h5>
                <ul class="tag-list" style="padding: 0">
                    <li><a href="#"><i class="fa fa-tag"></i> biword</a></li>
                    <li><a href="#"><i class="fa fa-tag"></i> Lorem ipsum</a></li>
                    <li><a href="#"><i class="fa fa-tag"></i> Passages</a></li>
                    <li><a href="#"><i class="fa fa-tag"></i> Variations</a></li>
                </ul>
                <h5>Project files</h5>
                <ul class="list-unstyled project-files">
                    <li><a href="#"><i class="fa fa-file"></i> Issue_document.docx</a></li>
                    <li><a href="#"><i class="fa fa-file-picture-o"></i> Screenshot.jpg</a></li>
                    <li><a href="#"><i class="fa fa-stack-exchange"></i> Email_from_Alex.mln</a></li>
                </ul>
                <div class="text-center m-t-md">
                    <a href="#" class="btn btn-xs btn-primary">Add files</a>
                    @{
                        if (User.IsInRole("Developer"))
                        {
                                    <a href="#" class="btn btn-xs btn-primary">Reassign</a>

                        }
                        if (User.IsInRole("Administrator"))
                        {
                                    <a href="#" class="btn btn-xs btn-danger">Close</a>
                        }

                    }


                </div>
            </div>
        </div>
    </div>




</div>
