@model IEnumerable<BugTracker.Models.Issue>

@{
    ViewData["Title"] = "Issues";
}

<link rel="stylesheet" href="~/css/IssuesIndex.css" />
<h1>Issues</h1>

<a asp-action="Create" class="btn-primary btn p-2">New Issue</a>

<table id="issuesTable" class="table table-sm  table-responsive  table-hover align-middle mt-3 ">
    <thead class="">
        <tr class="">
            <th style="width: 8.88%">
                @Html.DisplayNameFor(i => i.Id)
            </th>
            <th style="width: 15.88%">
                @Html.DisplayNameFor(i => i.Title)
            </th>
            <th style="width: 8.88%">
                @Html.DisplayNameFor(i => i.Status)
            </th>
            <th style="width: 8.88%">
                @Html.DisplayNameFor(i => i.Priority)
            </th>
            <th style="width: 8.88%">
                @Html.DisplayNameFor(i => i.Project)
            </th>
            <th style="width: 8.88%">
                @Html.DisplayNameFor(i => i.CreatedDate)
            </th>
            <th style="width: 8.88%">
                @Html.DisplayNameFor(i => i.UpdatedDate)
            </th>
            <th style="width: 8.88%">
                @Html.DisplayNameFor(i => i.ResolvedDate)
            </th>
            <th class="text-center" data-class-name="Actions" style="width: 8.88%">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var issue in Model)
        {
            <tr class="">
                <td class="">
                    <a asp-action="Details" asp-route-id="@issue.Id">

                        BT-@Html.DisplayFor(modelItem => issue.Id)
                    </a>
                </td>

                <td class="">
                    <a asp-action="Details" asp-route-id="@issue.Id">
                        @Html.DisplayFor(modelItem => issue.Title)
                    </a>
                </td>
                <td class="">
                    @Html.DisplayFor(modelItem => issue.Status.Name)
                </td>
                <td class="">
                    @Html.DisplayFor(modelItem => issue.Priority.Name)
                </td>
                <td class="">
                    @Html.DisplayFor(modelItem => issue.Project.Name)
                </td>
                <td class="">
                    @issue.CreatedDate.Value.ToString("MM/dd/yyyy HH:mm")
                </td>
                <td class="">
                    @Html.DisplayFor(modelItem => issue.UpdatedDate)
                </td>
                <td class="">
                    @Html.DisplayFor(modelItem => issue.ResolvedDate)
                </td>
                <td class="">
                    <div class="d-flex justify-content-between gap-2">
                        <a asp-action="Edit" asp-route-id="@issue.Id" class=" btn w-50 btn-sm btn-secondary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@issue.Id" class="btn w-50 btn-sm btn-danger">Delete</a>
                    </div>
                    <div class="d-flex justify-content-center mt-2  ">
                        <button type="button" class="btn btn-danger btn-rounded mb-4 ">
                            Prioritize
                        </button>

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="prioritiesModal" class="d-flex justify-items-center px-5 align-items-center d-none">
    <section id="first" class="section">
        <div class="radio-container"> <input type="radio" name="group1" id="radio-1" value="1"> <label for="radio-1"><span class="radio">Critical</span></label> </div>
        <div class="radio-container"> <input type="radio" name="group1" id="radio-2" value="2"> <label for="radio-2"><span class="radio">High</span></label> </div>
        <div class="radio-container"> <input type="radio" name="group1" id="radio-3" value="3"> <label for="radio-3"><span class="radio">Medium High</span></label> </div>
        <div class="radio-container"> <input type="radio" name="group1" id="radio-4" value="4"> <label for="radio-4"><span class="radio">Medium Low</span></label> </div>
        <div class="radio-container"> <input type="radio" name="group1" id="radio-5" value="5"> <label for="radio-5"><span class="radio">Low</span></label> </div>
    </section>
</div>


@section scripts{
<script>

    $(document).ready(function(){

        $("#issuesTable").DataTable({
            columnDefs:[
                {
                    orderable:false, targets: 8}
            ]
        });
        $("#filterInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("tbody tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });



    });
</script>
}
