@model BugTracker.Models.viewModels.ActivityFormViewModel
@{
    ViewData["Title"] = "Edit";
}

@{
    var priorityColor = "";
    if (Model.Issue.PriorityId == Priority.Critical || Model.Issue.PriorityId == Priority.High)
        priorityColor = "text-danger";
    else if (Model.Issue.PriorityId == Priority.MediumHigh || Model.Issue.PriorityId == Priority.MediumLow)
        priorityColor = "text-warning";
    else if (Model.Issue.PriorityId == Priority.Critical)
        priorityColor = "text-success";
}

<link rel="stylesheet" href="~/css/issue_details.css" />

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class=" ">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-b-md">
                                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary btn-sm pull-right">Edit</a>
                                    <h2>Issue BT-@Model.IssueId</h2>
                                    <h4>@Model.Issue.Title</h4>
                                </div>
                                <dl class="dl-horizontal">
                                    <dt>Status:</dt>
                                    <dd><span class="label label-primary">@Model.Issue.Status.Name</span></dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <dl class="dl-horizontal">

                                    <dt>Created by:</dt>
                                    <dd>@Model.Issue.Creator</dd>
                                    <dt>Messages:</dt>
                                    <dd>@Model.Issue.Activities.Count()</dd>
                                    <dt>Project:</dt>
                                    <dd>@Model.Issue.Project.Name</dd>
                                    <dt>Area:</dt>
                                    <dd>@Model.Issue.Area.Name</dd>
                                </dl>
                            </div>
                            <div class="col-lg-7" id="cluster_info">
                                <dl class="dl-horizontal">
                                    @{
                                        if (Model.Issue.StatusId == Status.Resolved)
                                        {
                                            <dt>Date Resolved:</dt>
                                            <dd>@Model.Issue.ResolvedDate</dd>
                                        }
                                    }
                                    <dt>Last Updated:</dt>
                                    <dd>@(Model.Issue.UpdatedDate != null ? Model.Issue.UpdatedDate : "Ticket not worked")</dd>
                                    <dt>Created:</dt>
                                    <dd>@Model.Issue.CreatedDate</dd>
                                    <dt>Participants:</dt>
                                    <dd class="project-people">
                                        <a href=""><img alt="image" class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar1.png"></a>
                                        <a href=""><img alt="image" class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar2.png"></a>
                                        <a href=""><img alt="image" class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar3.png"></a>
                                        <a href=""><img alt="image" class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar4.png"></a>
                                        <a href=""><img alt="image" class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar5.png"></a>
                                    </dd>

                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div id="activityform" class="container ">
                <h3>Add new Activity</h3>
                @using (Html.BeginForm("Save", "Activities"))
                {
                    <div class="form-group mt-2">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextAreaFor(m => m.Description, new {@class = "form-control"})
                    </div>
                    <div class="form-group form-check mt-2">
                        @Html.LabelFor(m=> m.UpdatedStatus, "Update Status")
                        @Html.CheckBoxFor(m => m.UpdatedStatus, new {@class = "form-check-input update-status"})
                    </div>
                    <div class="form-group mt-2" id="StatusId">
                        @Html.DropDownListFor(m =>m.StatusId, Model.Statuses, null, new { @class="form-select update-status-list", display="none"})
                    </div>
                    <div class="form-group form-check mt-2">
                        @Html.LabelFor(m=> m.ReassignedIssue, "Reassign Issue")
                        @Html.CheckBoxFor(m => m.ReassignedIssue, new {@class = "form-check-input reassign-issue"})
                    </div>

                    <div class="form-group mt-2" id="reassign-to">
                        <select class="form-select" aria-label="Default select" data-val="true" id="ReassignToId" name="reassignToId" disabled>
                            <option value="0" selected>Reassign Issue</option>
                            @{
                                foreach (var dev in Model.ReassignToList)
                                {
                                    <option value="@dev.Id">@dev.User.UserName</option>
                                }
                            }
                        </select>
                    </div>

                    @Html.HiddenFor(a => a.IssueId)
                    @Html.HiddenFor(a => a.Id)
                    @Html.HiddenFor(a => a.UserId)
                    <button class="btn btn-primary d-block w-50 m-auto mt-2" type="submit">Add Post</button>
                }
            </div>
        </div>




        <!-- RIGHT PANEL  -->
        <div class="col-md-3">
            <div class="wrapper wrapper-content project-manager">
                <h4>Description</h4>
                <p class="small">
                    @Model.Issue.Description
                </p>
                <p class="small font-bold">
                    <span class=@priorityColor><i class="fa fa-circle"></i> @Model.Issue.Priority.Name</span>
                </p>
                <h5>Project tag</h5>
                <ul class="tag-list" style="padding: 0">
                    <li><a href="#"><i class="fa fa-tag"></i> biword</a></li>
                    <li><a href="#"><i class="fa fa-tag"></i> Lorem ipsum</a></li>
                    <li><a href="#"><i class="fa fa-tag"></i> Passages</a></li>
                    <li><a href="#"><i class="fa fa-tag"></i> Variations</a></li>
                </ul>
                <h5>Project files</h5>
                <ul class="list-unstyled project-files">
                    <li><a href="#"><i class="fa fa-file"></i> Issue_document.docx</a></li>
                    <li><a href="#"><i class="fa fa-file-picture-o"></i> Screenshot.jpg</a></li>
                    <li><a href="#"><i class="fa fa-stack-exchange"></i> Email_from_Alex.mln</a></li>
                </ul>
                <div class="text-center m-t-md">
                    <a href="#" class="btn btn-xs btn-primary">Add files</a>
                    @{
                        if (User.IsInRole("Developer"))
                        {
                            <a href="#" class="btn btn-xs btn-primary">Reassign</a>

                        }
                        if (User.IsInRole("Administrator"))
                        {
                            <a href="#" class="btn btn-xs btn-danger">Close</a>
                        }

                    }


                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
<script>

    $(document).ready(function(){

        let reassignSelect = $("#reassign-to select").first();
        let reassignIssueCheckBox = $(".reassign-issue").first();

        reassignIssueCheckBox.on("click", () => {
            if (reassignIssueCheckBox.is(":checked")){
                reassignSelect.prop("disabled","")
            }
            else{
                reassignSelect.val("0")
                reassignSelect.prop("disabled",true)
            }

        })






        let updateStatusCheckBox = $(".update-status").first();
        let statusList = $(".update-status-list").first();
        let originalStatus = statusList.val();
        statusList.toggle()

        updateStatusCheckBox.on("click", () => {
            if (updateStatusCheckBox.is(":checked")){
                statusList.toggle()
            }
            else
                statusList.toggle()
                statusList.val(originalStatus)

        })

    });
</script>
    }
