@model IEnumerable<BugTracker.Models.viewModels.ProjectViewModel>

@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<p>
    <a asp-action="Edit">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th rowspan=2>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th colspan=4> Issues</th>
            <th rowspan=2>Manager</th>
            <th rowspan=2>Actions</th>
        </tr>
        <tr>
            <th>Critical </th>
            <th>Overdue </th>
            <th>Open </th>
            <th>Resolved </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.Issues.Where(i => i.PriorityId == Priority.Critical).Count()
                </td>
                <td>
                    @item.Issues.Where(i => (i.CreatedDate - DateTime.Now).Value.Hours >= i.Priority.ResolveWithin).Count()
                </td>
                <td>
                    @item.Issues.Where(i => i.StatusId != Status.Resolved).Count()
                </td>
                <td>
                    @item.Issues.Where(i => i.StatusId== Status.Resolved).Count()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager.UserName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
